*{
	box-sizing: border-box;

}

header{
	margin: 0;
	padding: 0;
}

body{
	font-family: helvetica;
}

h1{
	margin-bottom: 15px;
	font-size: 40px;
	padding: 0;
}


.container{
	max-width: 500px;
	margin: 0 auto;
}

p,input, textarea, span, button{
	font-size: 20px;
}

input, textarea{
	width: 100%;
}

input {
	height: 50px;
	padding: 15px;
	border-radius: 10px;
	border: 2px solid #bde;
	width: 70%;
}

button{
	width: 28%;
	height: 50px;
	border: none;
	border-radius: 10px;
	padding: 0;
	margin: 0;
	background: lightblue;
}

.word{
	/*padding: 0 5px;*/
	padding: 0px 5px;
}

.current{
	border-radius: 4px;
	background: #ddd;
}

.missed{
	color: red;
}

.passed{
 color: green;
} 

.timer{
	/*font-size: 30px;*/
	padding: 5px;
	float: right;
	margin: 0;
	padding: 0;
	font-size: 40px;
}

.text {

}


.timer-wrapper{
	width: 100%;
}

.clear{
	clear: both;
}